@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

/*0000000000000000000000000000000 Inicio inicio 000000000000000000000000000000000*/
/* ------------Inicio body general----------------------------------------------*/
body{

    font-family: 'Roboto', sans-serif;
}
/*------------ Fin body general-------------------------------------------------*/

/*------------- Inicio encabezado-----------------------------------------------*/
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /*background-color: black;*/
    padding: var(--padding-container);
}

.encabezado{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid; 
    grid-template-rows: 100px 1fr;
    color: rgb(255, 240, 250);
}

.encabezado::before{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000020 0%, #00000017 100%), url("../imagenes/Inicio.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
/*------------- Fin encabezado-----------------------------------------------*/

/*-------------- Inicio menu-------------------------------------------------*/

.menu {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu_title {
    font-weight: 300;
}

.menu_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.menu_items {
    list-style: none;
}

.menu_links {
    color: #fff;
    text-decoration: none;
}

/* pero ojo este navegacion de menu y el navegacion close es netamente para cuando se ve desde dispositivos
moviles O_O*/
.menu_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.menu_img {
    display: block;
    width: 30px;
}


.menu_close {
    display: var(--show, none);
}
/*-------------- Fin menu-------------------------------------------------*/

/*-------------- Inicio texto enmedio del encabezado----------------------*/

.encabezado_container{
    max-width: 800px;
    display:grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.encabezado_title{
    font-size: 3rem;
}

.encabezado_paragraph{
    margin-bottom: 20px;
}

.botonajuego{
    display: inline-block;
    background-color: #e60ea562;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
/*-------------- Fin texto enmedio del encabezado----------------------*/

/*-------------Inicio texto bajo el contenedor del encabezado----------------*/

.bajoEncabezado{
    text-align: center;
}

.subtitle{
    color: var(--color-title); /* llamamos a root*/
    font-size: 2rem;
    margin-bottom: 25px;
}

.bajoEncabezado_paragraph{
    line-height: 2;
}

.comparacion {
    padding-top: 40px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.imgComparacion {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
   /* overflow: hidden;*/ /*este es para ocultarme lo que se exceda pero me esta dando jugo*/
    margin: 0 auto;
}

.imgBajoEncabezado {
    width: 280px;
}
/*-------------Fin texto bajo el contenedor del encabezado----------------*/

/*------------- Inicio astronomos conocidos slide-------------------------*/

.astronomos{
    background-color: #e5e5f7;
    /*opacity: 0.8;*/
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

.fondoAstronomos_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

/*dandole forma a lo que puse dentro del contenedor de astronomos*/

.astronomos{
    background-color: #e5e5f7;
}

.fondoAstronomos_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.descripcion_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.descripcion_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.astronomo_img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.descripcion_text{
    max-width: 700px;
}

.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.astronomos_arrow{
    width: 90%;
    cursor: pointer;
}

/*------------- Fin astronomos conocidos slide-------------------------*/

/*-------------- Inicio pie de pagina----------------------------------*/

.piefinal{
    background-color: #1D293F;
}

.piefinal_container{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.piefinal_copyright{
    font-weight: 300;
}

.piefinal_icons{
    margin-bottom: 10px;
}

.piefinal_img{
    width: 30px;
}
/*-------------- Fin pie de pagina----------------------------------*/

/*-------------------------------------------------------------------------------------------*/
/*00000000000000000000000000 FIN INICIO 000000000000000000000000000000000000000*/

/*00000000000000000000000000 Inicio nosotros 000000000000000000000000000000000*/

/* Como quiero mantener la misma estructura del inicio en nosotros cambio muy pocas cosas por tanto
renombro lo que en particular quiero cambiar */

.encabezadoNosotros{
    width: 100%;
    height: 1000vh;
    min-height: 900px;
    max-height: 800px;
    position: relative;
    display: grid; 
    grid-template-rows: 100px 1fr;
    color: rgb(255, 240, 250);
    
}

.encabezadoNosotros::before{
    content: "";
    position: absolute; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000020 0%, #00000017 100%), url("../imagenes/nosotros.jpg");
    background-size: cover;
    clip-path: polygon(100% 0, 100% 100%, 50% 62%, 0 100%, 0 0);
    z-index: -1;
}

.bajoEncabezadoNosotros{
    text-align: center;
    text-align: justify;
}

.menuNosotros{
    background-color: #1f4da94b;
    --padding-container: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* con esto se supone que le digo que se quede fijo arriba */
    position: sticky;
    top: 0;
}

.menu_linksNosotros {
    color: #040404;
    text-decoration: none;
}

.encabezado_titleNosotros{
    margin: 100px;
    font-size: 4rem;
    position: absolute; 
}
/*00000000000000000000000000 Fin nosotros 000000000000000000000000000000000*/

/*00000000000000000000000000 Inicio noticias 000000000000000000000000000000*/

.encabezadoNoticias{
    width: 100%;
    height: 1000vh;
    min-height: 900px;
    max-height: 800px;
    position: relative;
    display: grid; 
    grid-template-rows: 100px 1fr;
    color: rgb(255, 240, 250);
    
}

.encabezadoNoticias::before{
    content: "";
    position: absolute; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000020 0%, #00000017 100%), url("../imagenes/noticias.jpg");
    background-size: cover;
    z-index: -1;
}

.subtitleNoticias{
    color: var(--color-title); /*llamo variable root*/
    font-size: 1.5rem;
    margin-bottom: 35px;
}

.noticias{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 80px; /*espaciado entre filas*/
    justify-items: center;
    align-items: center;
}

.imgNoticias{
    text-align: center;
}

.imgNoticias--left{
    text-align: left;
}

.img_noticias{
    max-width: 80%;
    border-radius: 30%;
}

.parrafoNoticiass{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/*00000000000000000000000000 Fin noticias 000000000000000000000000000000*/

/*00000000000000000000000000 Inicio Inicio sesion-registro 000000000000000000000000000000*/

.encabezadoLogin{
    width: 100%;
    height: 1000vh;
    min-height: 900px;
    max-height: 800px;
    position: relative;
    display: grid; 
    grid-template-rows: 100px 1fr;
    color: rgb(255, 240, 250);
    z-index: 99;
    
}

.encabezadoLogin::before{
    content: "";
    position: absolute; 
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000020 0%, #00000017 100%), url("../imagenes/login.jpg");
    background-size: cover;
    z-index: -1;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}



.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;

}




/* 14:07 */











/*.bodylogin{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../Imagenes/login.jpg") no-repeat;

}

.encabezadoLogin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.menu_titlelogin{
    font-size: 2em;
    color: #fff ;
    user-select: none;
}

.menuLogin a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/*.menuLogin a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.menuLogin a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.menuLogin .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.menuLogin .btnLogin-popup :hover{
    background: #fff;
    color: #162938;
}*/


/*.piefinallogin{
    background-color: #1D293F;
}

.piefinallogin_container{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.piefinallogin_copyright{
    font-weight: 300;
}

.piefinallogin_icons{
    margin-bottom: 10px;
}

.piefinallogin_img{
    width: 30px;
}*/
